*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    background-color: #ffffff; 
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
.small_title{
    font-size: 20px;
}
.form_container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin: 4px;
}
input,select,textarea{
    font-size: 14px;
    color: #000000cc;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus{
    color: red;
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;

}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: #ffff;
    border-radius: 6px;
    transition: 0.3s ease-out;
    margin-bottom: 20px;
    margin-right: 20px;
}
button:hover{
    background-color: #ccc;
    border: 2px solid rgb(228, 3, 3);
    color: red;
    transition: 0.3s ease-in;
}